/* Reseteaza marginile implicite */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Setari de baza pentru body */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* Stiluri pentru imagini */
img {
  display: block;
}

/* Stiluri pentru header */
header.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

/* Stiluri pentru container */
.header-container.container {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  justify-content: space-between; /* Pentru a alinia nav si address */
}

/* Stiluri pentru logo */
a.logo {
  color: #4d5ae5;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
}
a.logo .studio {
  color: #2e2f42;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.03em;
}

/* Stiluri pentru navigatie */
.nav-bar {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  gap: 40px;
}
.nav-item .nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2e2f42;
  padding: 24px 0;
  position: relative; /* Adăugat pentru primul element al meniului */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); /* Adăugat pentru primul element al meniului */
}
.nav-item .nav-link.nav-link-studio {
  color: #404bbf; /* Culoare text pentru primul element al meniului */
}
.nav-item .nav-link.nav-link-studio::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.nav-item .nav-link:hover,
.nav-item .nav-link:focus {
  color: #404bbf;
}

/* Stiluri pentru address */
.address-info {
  font-style: normal;
}
.address-list {
  display: flex;
  gap: 40px;
}
.address-item .address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); /* Adăugat pentru elementele listei de contacte */
}
.address-item .address-link:hover,
.address-item .address-link:focus {
  color: #404bbf;
}

.first-section {
  color: #ffffff;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 120px;
  margin-bottom: 120px;
  padding: 188px 0;
  max-width: 1440px;
}

.first-section-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
}

.first-section .order-service-button {
  display: block;
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.first-section .order-service-button:hover,
.first-section .order-service-button:focus {
  background-color: #404bbf;
}
/* Stiluri pentru secțiunea a doua */
.second-section {
  padding: 120px 0;
}

/* Stiluri pentru clasa container */
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Pattern pentru ascunderea titlului */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

/* Stiluri pentru lista de caracteristici */
.features-list {
  display: flex;
  gap: 24px;
}

/* Stiluri pentru fiecare element din lista */
.feature-item {
  flex-basis: calc((100% - 72px) / 4);
}

/* Eliminarea margin-right pentru ultimul element */
.feature-item:last-child {
  margin-right: 0;
}

.feature-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
}
.icon {
  width: 64px;
  height: 64px;
  top: 24px;
  left: 100px;
  padding: 0px 2.14px 0px 2.14px;
  gap: 0px;
  opacity: 0px;
}

/* Stiluri pentru titlul fiecărui element */
.feature-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* Stiluri pentru descrierea fiecărui element */
.feature-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Stiluri pentru secțiunea a treia */
.third-section {
  padding: 120px 0;
  background-color: #f4f4fd;
}

/* Stiluri pentru titlul secțiunii */
.third-section-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

/* Stiluri pentru lista echipei */
.team-list {
  display: flex;
  gap: 24px;
}

/* Stiluri pentru elementele din lista echipei */
.team-item {
  flex-basis: calc((100% - 72px) / 4);
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-item:last-child {
  margin-right: 0;
}

/* Stiluri pentru containerul intern din fiecare element al listei */
.team-info {
  padding: 32px 0;
}

/* Stiluri pentru numele membrului echipei */
.team-name {
  text-align: center;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}

/* Stiluri pentru rolul membrului echipei */
.team-role {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  color: #434455;
}

/* Stiluri pentru imaginea fiecarui membru al echipei */
.third-section-img {
  width: 100%;
  border-radius: 4px 4px 0 0;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon {
  fill: #f4f4fd;
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

/* Stiluri pentru sectiunea a patra */
.fourth-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f4f4fd;
}

.fourth-section-title {
  margin-bottom: 72px;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  flex-basis: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}

.portfolio-name {
  text-align: center;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}

.portfolio-category {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  color: #434455;
}

.portfolio-img {
  width: 100%;
  border-radius: 4px 4px 0 0;
}

.portfolio-img-container {
  position: relative;
  overflow: hidden;
}

.portfolio-img-info {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-img-info {
  transform: translateY(0%);
}

/* Stiluri pentru footer */
.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}
.footer-all {
  display: flex;
  align-items: baseline;
}

.footer-container {
  margin-right: 120px;
}

.paragraph-social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.social-media-list {
  display: flex;
  gap: 16px;
}

.social-media-item {
  width: 40px;
  height: 40px;
}

.social-media-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover,
.social-media-link:focus {
  background-color: #31d0aa;
}

.social-media-icon {
  fill: #f4f4fd;
}

/* Stiluri pentru link-ul logo */
.logo {
  display: inline-block;
  margin-bottom: 16px;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

/* Stiluri pentru partea 'Studio' din logo */
.logo .studio-footer {
  color: #f4f4fd;
}

/* Stiluri pentru paragraful din footer */
.footer-p {
  max-width: 264px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.subscribe {
  margin-left: 120px;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: #ffffff;
  margin-bottom: 16px;
}

.form-label {
  width: 453px;
  height: 80px;
  border-radius: 4px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  gap: 24px;
}

.email-input {
  width: 264px;
  height: 40px;
  color: #ffffff;
  border-radius: 4px;
  border: 1px solid #ffffff;
  opacity: 0px;
  border: 1px solid rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  line-height: 2;
  letter-spacing: 0.04em;
  background-color: transparent;
  font-size: 12px;
  padding-left: 16px;
}

.email-input::placeholder {
  color: #ffffff;
}
.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  min-width: 165px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
}
.subscribe-icon {
  margin-left: 16px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .close-icon,
.close-btn:focus .close-icon {
  fill: #ffffff;
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.input-group {
  margin-bottom: 16px;
}
.input-form{
  margin-bottom: 8px;
}

.input-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.input-container {
  position: relative;
}

.input-field {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field:focus {
  border-color: #4d5ae5;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field:focus + .input-icon {
  fill: #4d5ae5;
}

.textarea-field {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-field:focus {
  border-color: #4d5ae5;
}

.checkbox-group {
  margin-bottom: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.checkbox-custom {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.checkbox-group input:checked + .checkbox-label .checkbox-custom {
  border: none;
  background-color: #404bbf;
  fill: #f4f4fd;
}

.submit-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto; /* pentru a centra butonul */
}

/* Optional: efect de hover pentru buton */
.submit-btn:hover {
  background-color: #3c4cb8;
}
.privacy-policy {
  color: #4d5ae5;
}
